#{extends 'main.html' /} #{set title:'infoCenter.html' /}
<div class="user-conH">
	<div class="use-f-left span2" style="clear: both;">

		<img class="use-img img-polaroid" style="width: 125px;"
			src="${user.profile}">
	</div>
	<div class="span10">
		<ul>
			<li><span class="use-f-a16"><strong
					style="font-size: 26px;">${user.name}</strong></span> <span> <img
					src="/public/images/edit.png">
			</span> <a class="userinfo-font-w"
				href="@{SimpleUsers.updateProfile(user.id)}">编辑个人资料</a></li>
			<li class="use-f-li" style="margin: 10px 0px;"><span>#{if
					user.age} <a class="userinfo-font-b">${user.age}</a> <span
					class="userinfo-font-w">岁，</span> #{/if} #{if user.hometown} <span
					class="userinfo-font-w">来自</span> <a class="userinfo-font-b">${user.hometown},</a>
					#{/if} #{if user.school} <span class="userinfo-font-w">学校</span> <a
					class="userinfo-font-b">${user.school},</a> #{/if} #{if
					user.ralationship} <a class="userinfo-font-b">${user.ralationship},</a>
					#{/if} #{if user.contract} <span class="userinfo-font-w">手机号</span>
					<a class="userinfo-font-b">${user.contract}，</a> #{/if}
			</span></li>
			<li class="use-f-li"><span class="use-f-a16"
				style="font-size: 16px; color: #000000">签名:${user.selfIntro?user.selfIntro:'无'}</span>
			</li>
			<li style="padding-top: 20px;"><a class="btn btn-info use-but"
				href="@{Activities.create}"> <img src="/public/images/flag.png">发起活动
			</a> <a class="btn btn-info use-but" href="@{QuestAnsw.QuesIndex}"> <img
					src="/public/img/question.png">我要提问
			</a></li>
			<li class="use-f-li"><span> <img
					src="/public/images/Individual_center_activities.png">
			</span> <a class="use-f-a16" href="@{SimpleUsers.myActivity}">我的活动:</a> <a
				class="user-f-c"></a></li>
			<li class="use-f-li"><span> <img
					src="/public/images/Individual_center_question.png">
			</span> <a class="use-f-a16" href="">我的问答:</a> <a class="user-f-c"></a></li>




		</ul>
	</div>
	<div class="float-1"></div>
</div>



