#{extends 'main.html' /} #{set title:'updateProfile.html' /}
<div class="opporcontent">
<form action="@{SimpleUsers.doUpdateProfile}" method="POST"
	accept-charset="${_response_encoding}">
	<p>
		<label>昵称</label> <input type="text" name="user.name" value="${user.name}" />
		<span class="error">#{error 'name' /}</span>
	</p>
	<p>
		<label>性别</label> <input type="radio" name="user.gender" value="女"
			${user.gender== "女"?"checked":""}  />女 <input type="radio"
			name="gender" value="男" ${user.gender== "男"?"checked":""} />男 <span
			class="error">#{error 'gender' /}</span>
	</p>
	<p>
		<label>年龄</label> <select name="user.age">
			<option value="0" ${user.age==0?"selected":""}>--</option> 
			#{list items:18..60,as:'a'}
			<option value="${a}" ${user.age==a?"selected":""}  >${a}</option>
			#{/list}
		</select> <span class="error">#{error 'age' /}</span>
	</p>
	<p>
		<label>感情状况</label> <input type="text" name="user.ralationship"
			value="${user.ralationship}" /> <span class="error">#{error
			'ralationship' /}</span>
	</p>

	<p>
		<label>家乡</label> <input type="text" name="user.hometown"
			value="${user.hometown}" /> <span class="error">#{error
			'hometown' /}</span>
	</p>
	<p>
		<label>学校</label> <input type="text" name="user.school"
			value="${user.school}" /> <span class="error">#{error
			'school' /}</span>
	</p>
	<p>
		<label>联系方式</label> <input type="text" name="user.contract"
			value="${user.contract}" /> <span class="error">#{error
			'contract' /}</span>
	</p>
	<p>
		<label>一句话介绍</label> <input type="text" name="user.selfIntro"
			value="${user.selfIntro}" /> <span class="error">#{error
			'selfIntro' /}</span>
	</p>
	<input type="hidden" name="user.id" value="${user.id}" /> <input
		type="submit" value="更新" />
</form>
</div>