	body{
		 
	background: #f3f3f3;
	font-family:微软雅黑, Tahoma, Verdana, Arial, sans-serif;
	 }
	li{list-style-type:none}
	 
	 .f_l,.titleSearch,.search-text,.search-pic,.title-username,.top-pic,.opporlinklog,.biaoti{
	  float:left;
	  }
	 
	  .f_l{
	  	margin-right:10px;
	  }
	 
	 
	.titleSearch{
			  padding-top:8px;
		 }
		.search-text{
			 	width:210px;
		 }
		.search-pic{
			 padding-top:10px;		
		}
		.search-pic2{
			width:29px; 
			height:30px;
			background-color:#4b7390;
			background-image:url(../img/search.png);		
		}
		.title-username,.title-exit{
			 
			padding-left:20px; 
			padding-top:23px;
		
		}
		.title-username a{
			color:#FFFFFF; 
		
		}
	  	.title-exit a{
			 color:#CCCCCC; 
		}
	  
		a:hover, a:focus {
	 	text-decoration: none;
	   
		}
		  
		.maintitle{
				height:62px;
			  	background:#4b7390;
			 
			}
		 
		 
		.touConten{	
		  width:1060px;
			margin:auto;
		 }
		  
		.opporlinklog{
			height:43px;
			width:235px;
			margin-top:8px;
	 		
		}
 	.titleinput{
		background-color:#000000;
		margin-top:10px;
		}
		 
		.biaoti{
		 width:297px;
	  	padding:14px;
		 }
 		.biaotifont{
		font-weight:800;
		color:#FFFFFF;
		}
		 .titleinput{
		background-color:#000000 !important;
	  	font-size:12px !important;
		width: 223px !important;
		}
  
	  .bottom_pic{
			margin-top:8px;
			margin-left:10px;
			
		}
		
		#bottom-nav{
		 margin-left:30%;
		 }
		.container-fluid{
			background-color:#5282a5;
			 
		}
		 .navbar-inverse .brand, .navbar-inverse .nav > li > a {
			color: #FFFFFF;
		 
		}
		
		.opporcontent {
			padding: 20px;
			width: 1060px;
			margin:20px auto;
		  	border:1px solid #ccc;
			background-color: #FFF;
		}
		.float-1{
			clear:both;
		}
	 .title-user {
		float: left;
	  	margin-left: 22px;
	  	margin-top: 23px;
		}
		 
	.form-horizontal .control-group {
		margin-bottom: 18px;
		}
			
	.alert{
		text-align:center;
	}
	.ac_p{
	padding-left:50px;
	font-size:12px;
	border-bottom:1px solid #e2e2e2;
	}