#{extends 'main.html' /}
#{set title:'comments.html' /}




<p>
<a href="@{QuestAnsw.QuesIndex}">返回</a>
</p>
<div>
<p>
	<a style="color:#0033FF;">标题</a><br/>
	<a style="color:red;">${newQues.title}</a>
</p>

<p>
	<a style="color:#0033FF;">标签</a><br/>
	<a style="color:red;">${newQues.label}</a>
</p>
<p>
	<a style="color:#0033FF;">学校</a><br/>
	<a style="color:red;">${newQues.school}</a>
</p>
<p>
	<a style="color:#0033FF;">内容</a><br />
	<a style="color:red;">${newQues.content}</a>
</p>

<p>

${addCom.comment}

</p>