#{extends 'main.html' /}
#{set title:'dispAddQues.html'/}

<script type="text/javascript"> 
$(document).ready(function(){
	var comments=#{jsAction @QuestAnsw.comments(':quesid',':comment',':praiseNum',':userid',':usertype',':username',':userprofile',':selfIntro')  /}
		$('#submitbutton').click(
		  function(){
			  var c=$("#comment").val();
			  var qid=$("#quesid").val();

			  $.get(comments({ comment:c,quesid:qid,praiseNum:100,userid:100,usertype:100,username:100,userprofile:100,selfIntro:100}),
				  function(data) {
	           		$('#showCom').html("我的回答："+data);
		       })
		  })
	});
</script>
 <div class="opporcontent">
	 	<!--左边部分-->
		<div class="op-left">
		 <div >
				<ul style="border-bottom:1px solid #dddddd; padding-top:20px; padding-bottom:5px;"  >
					<li  class="qatitle">	
						<a  style="font-size:24px; color:#000000; font-family:'宋体'; font-weight:bold;">${newQues.title}</a>
					</li>
				
					<li class="qatitle">
						<a class="qatitlea" >${newQues.label}</a>
					</li>
					<li class="qatitle">
						<a class="qatitlea" style="font-size:10px ; color:#CCCCCC;">张少康，准留学生一枚</a>
					</li>
				
					<li class="qatitle" style="padding-bottom:25px;">
						<a class="qatitlea"  style="text-indent:2em; font-weight:bold;">${newQues.content.raw()}</a>
					</li>
					<li class="qatitle"   style="border-top:1px solid #dddddd;">
						<a>4个回答</a>
					</li>
			 	</ul>
		 </div>
		  <div>
		 	#{list items:listCom,as:'ac'}
			 	<ul style="border-bottom:1px solid #dddddd; padding-bottom:5px;">
			 		<li class="qatitle">
		    			<span><a style="color:#000000;">yuqianyi：</a><a style="color:#000000;font-weight:bold;">大地母亲在忽悠你</a></span>
		    		</li>
		    		<li class="qatitle">
			 			<a > <img src=" /public/images/1-2.PNG"></a><a style="font-size:10px ; color:#CCCCCC;">16票,</a> <a style="font-size:10px ; color:#CCCCCC;">2013-03-14</a>
			 		</li>
		    		<li class="qatitle">
		    			<a >${ac.comment.raw()}</a>
		    		</li>
		    		<li class="qatitle">
		    			<a ><img src=" /public/images/answer.png"></a><a style="font-size:10px ; color:#CCCCCC;">评论</a>
		    		</li>
		  	   	</ul>
	  	   #{/list}	
	  	  </div> 
	  		<div >
		   		<ul style="border-bottom:1px solid #dddddd; padding-bottom:5px;">
			 		<li class="qatitle">
			   			<span><a style="color:#000000;">yuqianyi：</a><a style="color:#000000;font-weight:bold;">大地母亲在忽悠你</a></span>
			   		</li>
			   		<li class="qatitle">
			 			<a > <img src=" /public/images/1-2.PNG"></a><a style="font-size:10px ; color:#CCCCCC;">16票,</a> <a style="font-size:10px ; color:#CCCCCC;">2013-03-14</a>
			 		</li>
			   		<li class="qatitle">
			   			<a id="showCom" ></a>
			   		</li>
			   		<li class="qatitle">
			   			<a ><img src=" /public/images/answer.png"></a><a style="font-size:10px ; color:#CCCCCC;">评论</a>
			   		</li>
	 	       </ul>
  			</div>
	  	
	  	 <div style="margin-left:20px;padding-bottom:50px;">
				 <li class="qatitle" style="padding-bottom:40px;">
				 	<a>yuqianyi</a><a>,回答问题</a>
				 </li>
			 <form id="comments" action="@{QuestAnsw.comments}" method="post">
			 	 <input type="hidden"  id="quesid" name="quesid" value="${newQues.id}" /> 
		 		 <textarea  style="width:540px;" rows="10" cols="20" rows="5" id="comment" name="comment" value="${flash.comment}"></textarea>
				 <input type="button" id="submitbutton" value="提交" class="btn btn-primary" onClick="toTransformData()" 
			     style="float:right; width:80px;"/>
			 </form>
		 </div>
	</div>

		<div class="op-right">
		
				<div class="op-right1">
					<button class="btn btn-primary" type="button">关注问题</button>
				</div>
				<label class="op-17">
				<span class="op-18">34<span>
				<span class="op-13">人已关注</span>
				 
				</span></span></label>
			
			 <a href="#"><img src="img/w1.png" class="op2-right2"></a> 
			 <a href="#"><img src="img/w1.png" class="op2-right2"></a>
			 <a href="#"><img src="img/w1.png" class="op2-right2"></a>
			 <a href="#"><img src="img/w1.png" class="op2-right2"></a>
			 <a href="#"><img src="img/w1.png" class="op2-right2"></a>
			 <a href="#"><img src="img/w1.png" class="op2-right2"></a>
			 <a href="#"><img src="img/w1.png" class="op2-right2"></a>
			 <a href="#"><img src="img/w1.png" class="op2-right2"></a>
			 <a href="#"><img src="img/w1.png" class="op2-right2"></a>
		     <a href="#"><img src="img/w1.png" class="op2-right2"></a>
			 <a href="#"><img src="img/w1.png" class="op2-right2"></a>
			 <a href="#"><img src="img/w1.png" class="op2-right2"></a>
			 <a href="#"><img src="img/w1.png" class="op2-right2"></a>
			 <a href="#"><img src="img/w1.png" class="op2-right2"></a>
		 
	 	<div style="clear:both"></div>
		
			<h5 class="op-10">相关问题</h5>
		
	 		<label class="op-17"><a href="" class="asa">v加州大学怎么样，留学生多不多?</a></label>
			<span class="op-13">22个回答</span>
			
			<label class="op-17"><a href="">加州大学怎么样，留学生多不多?加州大学怎么样，留学生多不多?加州大学怎么样，留学生多不多?</a></label>
			<span class="op-13">22个回答</span>
			
			<label class="op-17"><a href="">加州大学怎么样，留学生多不多?</a></label>
			<span class="op-13">22个回答</span>
			
			<label class="op-17"><a href="">加州大学怎么样，留学生多不多?</a></label>
			<span class="op-13">22个回答</span>

			<label class="op-17"><a href="">加州大学怎么样，留学生多不多?</a></label>
			<span class="op-13">22个回答</span>
		
		</div>
		
	 	  <div class="float-1"></div>
	 
</div>