#{extends 'main.html' /}
#{set title:'searchPage.html' /}
<script type="text/javascript" src="../../../public/javascripts/allunivlist.js"></script>
<script type="text/javascript" src="../../../public/javascripts/jquery-1.7.2.min.js"></script>
<script type="text/javascript"> 

$(document).ready(function(){
	var idnum;
	var sub;
	$("a.kuaishuhuida").hide();
	$("a.guanzhu-question").click(function(){
		if($(this).next().hasClass('hide')){
		$(this).next().removeClass('hide');
		   // idnum=$(this).attr('idnum');
		   // sub = '#sub'+idnum;
		}else{
			$(this).next().addClass('hide');
		}
	});
	
});
	
	
	
	
	var school = "";
	$(function (){
		$.each(allUnivList,function (j,m){		
			$("#gj").append("<a href='javascript:void(0);' style='margin: 8px;'  onclick='getSheng("+j+",\""+m.name+"\")'>"+m.name+"</a>");			
		});
	});
	//获得每个国家的省份
	function getSheng(aid,name){
	school = name;
		$("#sheng").show();
		$("#list").html('');
		$("#sheng").html('');
		if (allUnivList[aid].provs.length == 0){
			$("#sheng").append("很抱歉！暂时没有数据（只提供了中国和美国的学校信息)");
		}
		else
		{
			$.each(allUnivList[aid].provs,function (j,m){				
				$("#sheng").append("<a href='javascript:void(0);' style='margin: 10px;' onclick='getSchool("+aid+","+j+",\""+m.name+"\")'>"+m.name+"</a>");
			});
		}
	}
	//快速回答
	function test(cid,qid){		
		var comments=#{jsAction @QuestAnsw.comments(':qid',':comment')  /}
		var comment =  document.getElementById(cid).value;
		var show = "show"+qid;
		
		 $.get(comments({qid:qid,comment:comment}),
		function(data) {
			 document.getElementById(show).innerText = data;
		});
	}

	//获得每个省份的学校
	function  getSchool(gid,pid,name){
	school = school.substring(0,2);
	school += " - "+name;
	$("#list").show();
		$("#list").html('');
		$.each(allUnivList[gid].provs[pid].univs,function (k,l){
			$("#list").append("<a href='#'  style='width:270px;display:block;float:left; margin:10px;'>"+l.name+"</a>");
		});
		$("#list").append("<br style='clear:both;' />");
			
	}
	$("#list a").live("click",function (){
		$("#gj").hide();
		$("#list").hide();
		$("#sheng").hide();
		school += " - "+$(this).text();
		$("#txtSc").val(school);
	});
	$("#txtSc").live("click",function (){
		$("#gj").show();
		$("#list").hide();
		$("#sheng").hide();
	});	
</script>

<div class=" user-conH ">
		  <div class="question-left1">
				<div class="question-left2">
					<form action="@{QuestAnsw.searchQues}" method="post">
						<input style="width:460px; height:36px; border: 3px solid  #5885a5;" class="question-text" placeholder="输入你想知道的问题..."
						 type="text" style="height=200px;" id="ques" name="ques"  value="${flash.ques}" >
						
						<input class="btn btn-info tiwen-btn" type="submit" style="width:130px;height:50px;"
						 value="搜索话题"><img src="/public/images/question.png"   style="margin-right:10px;" />
						<a class="btn btn-info tiwen-btn1"  href="@{QuestAnsw.QuesIndex}">我要提问</a>
					</form>
				</div>
			</div>
			<div class="classify NO1">
					<div>
						<dl class="classify-dl clearfix"  >
							<dt class="list-tit"><img src="/public/images/category.png">标签:</dt>
							<li >
							#{list items:t,as:'tag'}
							<dd class="list-fy">
								<a class="${tag==tag.tagName?'QuestAnsw':''}  address" href="@{QuestAnsw.searchTag(tag.tagName)}">${tag.tagName}</a> 
							</dd>
							#{/list}
							</li>
						</dl>
					</div>	
			</div>
			<div class="controls" style="padding-left:55px;">
			   		<div style="width:400px; overflow:hidden;">
						<input type="text" id="txtSc" style="width:373px; border:3px #5885a5 solid; padding:10px; overflow:hidden; " 
						name="school" value="${flash.school}" placeholder="请选择学校" />
						<div id="gj" style="width:373px; border:3px #5885a5 solid; padding:10px; overflow:hidden; line-height:25px; display:none;"></div>
						<div id="sheng" style="width:373px; word-break:break-all; border:3px #5885a5 solid; padding:10px; overflow:hidden; line-height:25px;display:none;"></div>
						<div id="list" style="width:373px; border:3px #5885a5 solid; padding:10px; overflow:hidden; line-height:25px;display:none; height:300px; overflow-y:auto;"></div>
					</div>
			</div>
			
			<div class="btn-group" style="padding-left:55px; padding-bottom:10px;">
			  <button class="btn" style="width:120px; height:25px;line-height:15px;font-size:12px;">默认(时间)排序<img  src="/public/images/searchpageArrow.png"/></button>
			  <button class="btn" style="width:100px; height:25px;line-height:15px;font-size:12px;">回答数量<img  src="/public/images/searchpageArrow.png"/></button>
			  <button class="btn" style="width:100px; height:25px;line-height:15px;font-size:12px;">关注热度<img  src="/public/images/searchpageArrow.png"/></button>
			</div>
</div>







<div class="">
	<div class="form-horizontal ">
					 <div class="control-group ">
								<label class="xyz">
									<span class="xyz-1">热门回答</span>
								</label>
					 </div>
			<div  class=" group1">
				<div id="showAllInfor" >
				#{list items:qArticles,as:'qa'}
					<div style="border-bottom:1px solid #dddddd;margin-left:20px; padding-bottom:5px;">
			 	 	 <label class="woqu">
							<a class="tiezi-title" href="@{QuestAnsw.showQuesInfo(qa.ques.id)}" style="TEXT-DECORATION:none;" >${qa.ques.title}</a> <a>${qa.comments?.quesid}</a>
					</label>
						<label class="userinforleft">
							<div class="guanzhu-num">
								<a class="guanzhuNO2">${qa.ques.answerNum}</a>
								<div>
									<a class="guanzhu-font">关注</a>
								</div>
							</div>
							<div class="huida-num">
								<a class="guanzhuNO3">${qa.ques.focusNum}</a>
								<div>
									<a class="huida-font">回答</a>
								</div>
							</div>
							<div class="zan1">
								<div class="zan-icon">
									<img src="/public/images//1-2.png"><a class="zan-num">${qa.comments?.praiseNum}</a>
								</div>
								 
							</div>
						</label>
						<div class="controls userinforright" style="padding-bottom:40px;">
							<ul style="	margin-left:-65px;" >
								<li>
									<a class="bq"> 标签:</a>
									<a class="keywords" style="TEXT-DECORATION:none;">${qa.ques.label}</a>
								</li>
								<li class="fatieren">${qa.ques.username}，${qa.ques.selfIntro}</li>
								<li>	
									<a class="p-1 qacomment" style="TEXT-DECORATION:none; color:#000000;">${qa.comments?.comment.raw()}</a>
								</li>
								<li>
									<a href="#" class="guanzhu-question">
										<img src="/public/images/focus.png">
										关注问题
									</a>
									<a class="guanzhu-question" idnum="${qa.comments?.quesid}">
										<img src="/public/images/answer.png">
										我来回答
									</a>
									<div  class="kuaishuhuida hide" style="width:364px; height:100px;">
									<div  id="show${qa.comments?.quesid}"></div>
										<form id="comments${qa.comments?.quesid}"  action="@{QuestAnsw.comments}" method="POST">
										
											<input type="hidden"  name="quesid" value="${qa.comments?.quesid}">
									
											<textarea rows="2" style="width:350px;" id="comment${qa.comments?.quesid}" name="comment" value="${flash.comment}"></textarea>
									
											<input class="btn btn-info tiwen-btn" type="button" value="发布回答" 
											onclick="test('comment${qa.comments?.quesid}','${qa.comments?.quesid}')"
											style="float:right; height:30px; margin-top:5px;" id="sub${qa.comments?.quesid}"> 
											
										</form>
									</div>
								</li>
								
							</ul>	
						</div>
						</div>
			 	 	 #{/list}
			 	 	 </div>
			</div>	
			<div class="row-fluid">
					<div class="span12" style="margin-left:10%;">
						<div class="pagination">
						<ul>
								<li>
									<a href="@{QuestAnsw.Quespaging(1)}" class="paging">首页</a>
								</li>
								<!-- 
								<li>
									<a href="@{QuestAnsw.Quespaging(pageNum)}" class="paging">上一页</a>
								</li>
								 -->
								#{list items:1..pageCount,as:'page'}
									<li>
										<a href="@{QuestAnsw.Quespaging(page)}" class="paging">${page}</a>
									</li>
								#{/list}
								<!--  
								<li>
									<a href="@{QuestAnsw.Quespaging(pageNum)}" class="paging">下一页</a>
								</li>
								-->
								<li>
									<a href="@{QuestAnsw.Quespaging(pageCount)}" class="paging">末页</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
	</div>
	<div class="form-horizontal qq">
				<div class="control-group caca">
						<label class="control-label zuijia-title">
									<span class="zh">最佳回答者</span>
								</label>
				</div>
				<div class="a-1">
						<label class="control-label" style="text-align:left;">
							<div>
								<img src="/public/images/head-sculpture_small_1.png">
							</div>
						</label>
						<div class="controls">
							<label class="cc"><a class="answer-name">刘纯阳</a>
						
								 <p>
									<a class="sc">擅长:</a><a class="sc2"> 生物 计算机 人类学</a>
								</p>
							</label>
							<label class="xin"><img src="/public/images/zan1.png" class="xin-1"><a class="xin2">521</a></label>
						</div>
				 </div>
	</div>
	<div style="clear:both"></div>
</div>




