#{extends 'main.html' /}
#{set title:'showQuesInfo.html' /}
#{set 'Styles'}
<link rel="stylesheet" href="/public/stylesheets/scrollpagination.css" />
<link rel="stylesheet" href="/public/stylesheets/Activity-index.css"/>
#{/}
<div style="width:700px; float:left;">
		 <div style="width:600px;">
				#{list items:fQ,as:'findListQues'}
				<ul style="border-bottom:1px solid #dddddd; padding-top:20px; padding-bottom:5px;"  >
					<li  class="qatitle">	
						<a  style="font-size:24px; color:#000000; font-family:'宋体'; font-weight:bold;">${findListQues.title}</a>
					</li>
				
					<li class="qatitle">
						<a class="qatitlea" >${findListQues.label}</a>
					</li>
					<li class="qatitle">
						<a class="qatitlea" style="font-size:10px ; color:#CCCCCC; TEXT-DECORATION:none">${findListQues.username}，${findListQues.selfIntro}</a>
					</li>
				
					<li class="qatitle" style="padding-bottom:25px;">
						<a class="qatitlea"  style="TEXT-DECORATION:none">${findListQues.content.raw()}</a>
					</li>
					<li class="qatitle"   style="border-top:1px solid #dddddd;">
						<a>${findListQues.answerNum}个回答</a>
					</li>
			 	</ul>
			 	#{/list}
		  </div>
		 
		  <div style="  width:600px;">
		 		#{list items:listCom,as:'ac'}
			 		<ul style="border-bottom:1px solid #dddddd; padding-bottom:5px;">
					 			<li class="qatitle">
				    			<span><a style="color:#000000;">${ac.username}：</a><a style="color:#000000;font-weight:bold;">${ac.userSelfIntro}</a></span>
				    		</li>
				    		
				    		<li class="qatitle" style="line-height:40px;">
				    			<a style="TEXT-DECORATION:none" >${ac.comment.raw()}</a>
				    		</li>
		  	   	    </ul>
		  	   #{/list}	
	  	  </div> 		
	  	   		

  			
	  		<div style="margin-left:20px;padding-bottom:50px; width:600px;">
					 <li class="qatitle" style="padding-bottom:40px;">
					 	<a>${comentUsername}</a><a>,回答问题</a>
					 </li>
					 <form id="comments" action="@{QuestAnsw.addComent}" method="post">
						 	#{list items:fQ,as:'findListQues'}
						 		<input type="hidden"  id="quesid" name="quesid" value="${findListQues.id}" />
							#{/list}
					 		<textarea rows="5" style="width:570px;" id="comment" name="comment" value="${flash.comment}"></textarea>
						 	<input type="submit" id="submitbutton" value="发布回答" class="btn btn-primary"  
						 	style="width:80px;" />
					 </form>
			</div>
	
		
</div>
	 

<div style="float:left;">
   #{list items:fQ,as:'fidid'}
	<div class="op-right1">
		<a class="btn btn-primary" href="@{QuestAnsw.fcousOnQuestion(fidid.id)}" >关注问题</a>
	</div>
	<label class="op-17">
		<span class="op-18">${fidid.focusNum}<span>
		<span class="op-13">人已关注</span>
		</span></span>
	</label>
	
	 <div><img  src=${fidid.userprofile} class="op2-right2" style="height:60px; width:60px;"></div> 
	 #{/list}
</div>
	 
	 <div style=" clear:both;"></div>	



