#{extends 'main.html' /}
#{set title:'userInfoIndex.html' /}

<div class="opporcontent user-conH">
	<div class="use-f-left" style=" clear:both;">
		<ul>
			<li style="">
				<div >
					<img  class="use-img img-polaroid" src="/public/images/programmer.png">
				</div>
			</li>
			<li style="padding-top:10px;">
				<span class="use-f-graded">
					<img  src="/public/images/data_card_star.png">
					<img  src="/public/images/data_card_star.png">
					<img  src="/public/images/data_card_star.png">
					<img  src="/public/images/data_card_star_.png">
					<img  src="/public/images/data_card_star_.png">
				</span>
				<a>活动评分</a>
			</li>
			<li style="padding-top:80px;">
				<a><span>关注（全部3人）</span></a>
			</li>
			<li style="padding-top:5px;">
				<a>
					<span>
						<img  src="/public/images/w1.png">
						<img  src="/public/images/w1.png">
						<img  src="/public/images/w1.png">
					</span>
				</a>
			</li>
			<li style="padding-top:10px;">
				<a><span>被关注（全部0人）</span></a>
			</li>
			<li style="padding-top:5px;">
				<a>
					<span>
						<img  src="/public/images/w1.png">
						<img  src="/public/images/w1.png">
						<img  src="/public/images/w1.png">
					</span>
				</a>
			</li>
			<li style="padding-top:80px; text-align:center;">
				<div style="width:180px; border-top:1px dashed #FF0000;">
				</div>
			</li>
			<li class="use-f-li">
					<span>
						<img  src="/public/images/Individual_center_activities.png">
					</span>
					<a class="use-f-a16">活动:</a>
					<a class="user-f-c">6次</a>
			</li>
			<li class="use-f-li">
					<span>
						<img  src="/public/images/Individual_center_question.png">
					</span>
					<a class="use-f-a16">问答:</a>
					<a class="user-f-c">6次</a>
			</li>
			<li class="use-f-li">
					<span>
						<img  src="/public/images/Individual_center_answer.png">
					</span>
					<a class="use-f-a16">回答:</a>
					<a class="user-f-c">6次</a>
			</li>
			<li class="use-f-li">
					<span>
						<img  src="/public/images/Individual_center_dynamic.png">
					</span>
					<a class="use-f-a16">动态:</a>
					<a class="user-f-c">6次</a>
			</li>
			<li class="use-f-li">
					<span>
						<img  src="/public/images/Individual_center_friends.png">
					</span>
					<a class="use-f-a16">小组:</a>
					<a class="user-f-c">6次</a>
			</li>
		</ul>
	</div>
	<div style="padding-top:20px; width:774px; float:left; ">
		<ul >
			<li>
				<a class="use-f-a16">yuqianyi</a>
				<span>
					<img  src="/public/images/edit.png">
				</span>
				<a class="userinfo-font-w">编辑个人资料</a>
			</li>
			<li class="use-f-li">
		 			<span>
		 				<a class="userinfo-font-b">25</a>
		 				<a class="userinfo-font-w">岁,</a>
		 				<a class="userinfo-font-w">来自</a>
		 				<a class="userinfo-font-b">河南郑州，</a>
		 				<a class="userinfo-font-w">现居</a>
		 				<a class="userinfo-font-b">旧金山，</a>
		 				<a class="userinfo-font-b">单身，</a>
		 				<a class="userinfo-font-w">手机号</a>
		 				<a class="userinfo-font-b">15543211234，</a>
		 				<a class="userinfo-font-w">QQ</a>
		 				<a class="userinfo-font-b">999222333</a>
		 			</span>
	 		</li>
	 		<li class="use-f-li">
	 			<a class="use-f-a16" style="color:#000000">签名:大地母亲一直在忽悠你...</a>
	 		</li>
	 		<li style="padding-top:70px;margin-left:-50px;">
	 			<button class="btn btn-info use-but"> <img  src="/public/images/flag.png">发起活动</button>
	 			<button class="btn btn-info use-but"> <img  src="/public/images/question.png">我要提问</button>
	 		</li>
		</ul>
		
		
		 <div style=" width:387px; height:320px; float:left; margin-top:50px;">
	 		<ul style=" width:387px;">
	 			<li class="userinfo-l use-r-w" style="width:387px;">
	 				<span style="padding-left:10px; ">
	 					<img class="us-ping" src="/public/images/data_card_question.png">
	 					<a class="us-font">我的最新动态</a>
	 				</span>
	 				
	 			</li>
	 		</ul>
	 		<ul style="padding-left:10px; border-left:1px solid #f4f4f4;">
		 		<li class="us-li-j use-r-w">
		 			<span class="us-act-s">
		 				<a class="user-f-c">刘德华</a><a >回答</a>
		 			</span>
		 			<a class="user-f-c">在戈壁荒滩的狗都不会叫，这是为什么？</a>
		 			<div><a class="user-f-c">10分钟前</a></div>
		 		</li>
		 		<li class="us-li-j use-r-w" >
		 			<span class="us-act-s">
		 				<a class="user-f-c">刘德华</a><a >回答</a>
		 			</span>
		 			<a class="user-f-c">哪些手机操作Word、Excel和电脑上差不多？</a>
		 			<div><a class="user-f-c">10分钟前</a></div>
		 		</li>
		 		<li class="us-li-j use-r-w">
		 			<span class="us-act-s">
		 			<a class="user-f-c">刘德华</a><a >回答</a>
		 			</span>
		 			<a class="user-f-c">小麦草真的很有营养吗?</a>
		 			<div><a class="user-f-c">10分钟前</a></div>
		 		</li>
		 		<li>
		 		<span style="float:right;" >
	 					查看全部
	 				</span>
		 		</li>
	 		</ul>
	 	</div>
	 	
	 	
	 	
	 	
	 	 <div style=" width:387px; height:320px; float:left;  margin-top:50px;">
	 		<ul style=" width:387px;">
	 			<li class="userinfo-l use-r-w" style="width:387px;">
	 				<span style="padding-left:10px; ">
	 					<img class="us-ping" src="/public/images/category.png">
	 					<a class="us-font">好友最新动态</a>
	 				</span>
	 			</li>
	 		</ul>
	 		<ul style="padding-left:10px; border-left:1px solid #f4f4f4;">
		 		<li class="us-li-j use-r-w">
		 			<span class="us-act-s">
		 				<a class="user-f-c">刘德华</a><a >回答</a>
		 			</span>
		 			<a class="user-f-c">在戈壁荒滩的狗都不会叫，这是为什么？</a>
		 			<div><a class="user-f-c">10分钟前</a></div>
		 		</li>
		 		<li class="us-li-j use-r-w" >
		 			<span class="us-act-s">
		 				<a class="user-f-c">刘德华</a><a >回答</a>
		 			</span>
		 			<a class="user-f-c">哪些手机操作Word、Excel和电脑上差不多？</a>
		 			<div><a class="user-f-c">10分钟前</a></div>
		 		</li>
		 		<li class="us-li-j use-r-w">
		 			<span class="us-act-s">
		 			<a class="user-f-c">刘德华</a><a >回答</a>
		 			</span>
		 			<a class="user-f-c">小麦草真的很有营养吗?</a>
		 			<div><a class="user-f-c">10分钟前</a></div>
		 		</li>
		 		<li>
		 		<span style="float:right;" >
	 					查看全部
	 				</span>
		 		</li>
	 		</ul>
	 	</div>
	 	
	 	
	 	
	 	
	 	
	 	
	 	 <div style=" width:387px; height:320px; float:left;">
	 		<ul style=" width:387px;">
	 			<li class="userinfo-l use-r-w" style="width:387px;">
	 				<span style="padding-left:10px; ">
	 					<img class="us-ping" src="/public/images/data_card_activities.png">
	 					<a class="us-font">我最近的活动</a>
	 				</span>
	 				
	 			</li>
	 		</ul>
	 		<ul style="padding-left:10px; border-left:1px solid #f4f4f4;">
		 		<li class="us-li-j use-r-w">
		 			<span class="us-act-s">
		 				<a class="us-act-a-num">22</a>
		 			</span>
		 			<a class="user-f-c">在戈壁荒滩的狗都不会叫，这是为什么？</a>
		 		</li>
		 		<li class="us-li-j use-r-w" >
		 			<span class="us-act-s">
		 				<a class="us-act-a-num">22</a>
		 			</span>
		 			<a class="user-f-c">哪些手机操作Word、Excel和电脑上差不多？</a>
		 		</li>
		 		<li class="us-li-j use-r-w">
		 			<span class="us-act-s">
		 				<a class="us-act-a-num">22</a>
		 			</span>
		 			<a class="user-f-c">小麦草真的很有营养吗?</a>
		 		</li>
		 		<li class="us-li-j use-r-w">
		 			<span class="us-act-s">
		 				<a class="us-act-a-num">22</a>
		 			</span>
		 			<a class="user-f-c">小麦草真的很有营养吗?</a>
		 		</li>
		 		<li class="us-li-j use-r-w">
		 			<span class="us-act-s">
		 				<a class="us-act-a-num">22</a>
		 			</span>
		 			<a class="user-f-c">小麦草真的很有营养吗?</a>
		 		</li>
		 		<li class="us-li-j use-r-w">
		 			<span class="us-act-s">
		 				<a class="us-act-a-num">22</a>
		 			</span>
		 			<a class="user-f-c">小麦草真的很有营养吗?</a>
		 		</li>
		 		<li>
		 		<span style="float:right;">
	 					查看全部
	 				</span>
		 		</li>
	 		</ul>
	 	</div>
	 	
	 	
	 	
	 	
	 	 <div style=" width:387px; height:320px; float:left;">
	 		<ul style=" width:387px;">
	 			<li class="userinfo-l use-r-w" style="width:387px;">
	 				<span style="padding-left:10px; ">
	 					<img class="us-ping" src="/public/images/data_card_question.png">
	 					<a class="us-font">我的回答</a>
	 				</span>
	 			</li>
	 		</ul>
	 		<ul style="padding-left:10px; border-left:1px solid #f4f4f4;">
		 		<li class="us-li-j use-r-w">
		 			<span class="us-act-s">
		 				<a class="us-act-a-num">22</a>
		 			</span>
		 			<a class="user-f-c">在戈壁荒滩的狗都不会叫，这是为什么？</a>
		 		</li>
		 		<li class="us-li-j use-r-w" >
		 			<span class="us-act-s">
		 				<a class="us-act-a-num">22</a>
		 			</span>
		 			<a class="user-f-c">哪些手机操作Word、Excel和电脑上差不多？</a>
		 		</li>
		 		<li class="us-li-j use-r-w">
		 			<span class="us-act-s">
		 				<a class="us-act-a-num">22</a>
		 			</span>
		 			<a class="user-f-c">小麦草真的很有营养吗?</a>
		 		</li>
		 		<li class="us-li-j use-r-w">
		 			<span class="us-act-s">
		 				<a class="us-act-a-num">22</a>
		 			</span>
		 			<a class="user-f-c">小麦草真的很有营养吗?</a>
		 		</li>
		 		<li class="us-li-j use-r-w">
		 			<span class="us-act-s">
		 				<a class="us-act-a-num">22</a>
		 			</span>
		 			<a class="user-f-c">小麦草真的很有营养吗?</a>
		 		</li>
		 		<li class="us-li-j use-r-w">
		 			<span class="us-act-s">
		 				<a class="us-act-a-num">22</a>
		 			</span>
		 			<a class="user-f-c">小麦草真的很有营养吗?</a>
		 		</li>
		 		<li>
		 		<span style="float:right;">
	 					查看全部
	 				</span>
		 		</li>
	 		</ul>
	 	</div>
	</div>
	<div class="float-1"></div>
</div>

