#{extends 'main.html' /} #{set title:'index.html' /}
<div >
#{if connectedSimpleUser}
#{if connectedSimpleUser.isAdmin}
 
#{/if}
#{/if}
</div>
<div  style="height:500px;">
	<div style="float:left; width:512px; height:430px; padding-top:20px;" >
		<div style="width:500px; height:300px; padding-left:12px;">
			<img src="../public/images/GIF_airplane.gif">
		</div>
		
			
		<div style="margin-left:200px; margin-top:35px; " >
			<a  class="btn btn-info" href="@{Airports.addStuInfo}"  >
				<img src="../public/images/feiji.png"> 
				我需要接机
			</a>
		</div>
	</div>
	<div style="float:left; width:512px; height:430px;  padding-top:20px;">
			<div style="width:500px; height:300px; padding-right:12px;">
				<img src="../public/images/GIF_car.gif">
			</div>
			
				
			<div style="margin-left:200px; margin-top:35px;">
				<a class="btn btn-info" href="@{Airports.addVolInfo}" >
					<img src="../public/images/button_car.png">
					我是志愿者
				 </a>
			</div>
	</div>		
</div>